.attachmentsFilesView {
  display: flex;
  flex-wrap: wrap;
  background-color: #d8d8d8;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
